.story-cover {
	background-image: url("https://image.webservices.ft.com/v1/images/raw/https%3A%2F%2Fimage.webservices.ft.com%2Fv1%2Fimages%2Fraw%2Fhttp%253A%252F%252Fcache1.asset-cache.net%252Fgc%252F136968975-voter-casts-hers-ballot-at-a-polling-station-gettyimages.jpg%253Fv%253D1%2526c%253DIWSAsset%2526k%253D2%2526d%253DfOqRSGnZREbdOD5U9z9TH3K0XfVEdUvje%25252fdXaiVtBtOnmThxjDPBUYt7KScY3P9n%3Fsource%3Dftchinese?quality=high&source=ftchinese");
	}

.section-2 
	.section-cover {
	background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fi.ftimg.net%2Fpicture%2F8%2F000057838_piclink.jpg?source=test&quality=highest");
	}

.section-3 
	.section-cover {
	background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fi.ftimg.net%2Fpicture%2F6%2F000057836_piclink.jpg?source=test&quality=highest");}


.story-footer {
	background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcache4.asset-cache.net%2Fgc%2F504318068-supporters-cheers-duirng-a-rally-on-january-gettyimages.jpg%3Fv%3D1%26c%3DIWSAsset%26k%3D2%26d%3DX7WJLa88Cweo9HktRLaNXnKXtW10%252bR5QYfa%252bB7k5cf3J4VJzOwbx%252f2MbrNklVq52?source=ftchinese&quality=highest");
}
.credits {
	background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcache3.asset-cache.net%2Fgc%2F459454582-supporters-of-independent-taipei-mayoral-gettyimages.jpg%3Fv%3D1%26c%3DIWSAsset%26k%3D2%26d%3DGkZZ8bf5zL1ZiijUmxa7QYF46f%252b95Oac1tgMI3UQnvtA0Tm6ajQpHREWZYHWie9l?source=ftchinese&quality=highest");
	}

// Background image shown on 
@media only screen and (max-width: 768px) {
	.story-cover {
		background-image: url("https://image.webservices.ft.com/v1/images/raw/https%3A%2F%2Fimage.webservices.ft.com%2Fv1%2Fimages%2Fraw%2Fhttp%253A%252F%252Fcache1.asset-cache.net%252Fgc%252F136968975-voter-casts-hers-ballot-at-a-polling-station-gettyimages.jpg%253Fv%253D1%2526c%253DIWSAsset%2526k%253D2%2526d%253DfOqRSGnZREbdOD5U9z9TH3K0XfVEdUvje%25252fdXaiVtBtOnmThxjDPBUYt7KScY3P9n%3Fsource%3Dftchinese?width=768&quality=medium&source=ftchinese");
		}

	.section-2 
		.section-cover {
		background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fi.ftimg.net%2Fpicture%2F8%2F000057838_piclink.jpg?source=test&quality=medium");
		}

	.section-3 
		.section-cover {
		background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fi.ftimg.net%2Fpicture%2F6%2F000057836_piclink.jpg?width=736&quality=medium&source=ftchinese");}


	.story-footer {
		background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcache4.asset-cache.net%2Fgc%2F504318068-supporters-cheers-duirng-a-rally-on-january-gettyimages.jpg%3Fv%3D1%26c%3DIWSAsset%26k%3D2%26d%3DX7WJLa88Cweo9HktRLaNXnKXtW10%252bR5QYfa%252bB7k5cf3J4VJzOwbx%252f2MbrNklVq52?source=ftchinese&quality=medium");
	}
	.credits {
		background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcache3.asset-cache.net%2Fgc%2F459454582-supporters-of-independent-taipei-mayoral-gettyimages.jpg%3Fv%3D1%26c%3DIWSAsset%26k%3D2%26d%3DGkZZ8bf5zL1ZiijUmxa7QYF46f%252b95Oac1tgMI3UQnvtA0Tm6ajQpHREWZYHWie9l?source=ftchinese&quality=medium");
		}
}

@media only screen and (max-width: 736px) {
	.story-cover {
		background-image: url("https://image.webservices.ft.com/v1/images/raw/https%3A%2F%2Fimage.webservices.ft.com%2Fv1%2Fimages%2Fraw%2Fhttp%253A%252F%252Fcache1.asset-cache.net%252Fgc%252F136968975-voter-casts-hers-ballot-at-a-polling-station-gettyimages.jpg%253Fv%253D1%2526c%253DIWSAsset%2526k%253D2%2526d%253DfOqRSGnZREbdOD5U9z9TH3K0XfVEdUvje%25252fdXaiVtBtOnmThxjDPBUYt7KScY3P9n%3Fsource%3Dftchinese?width=736&quality=lowest&source=ftchinese")
		}

	.section-2 
		.section-cover {
			background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fi.ftimg.net%2Fpicture%2F8%2F000057838_piclink.jpg?source=test&quality=lowest");
		}

	.section-3 
		.section-cover {
			background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fi.ftimg.net%2Fpicture%2F6%2F000057836_piclink.jpg?source=test&quality=lowest");}


	.story-footer {
		background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcache4.asset-cache.net%2Fgc%2F504318068-supporters-cheers-duirng-a-rally-on-january-gettyimages.jpg%3Fv%3D1%26c%3DIWSAsset%26k%3D2%26d%3DX7WJLa88Cweo9HktRLaNXnKXtW10%252bR5QYfa%252bB7k5cf3J4VJzOwbx%252f2MbrNklVq52?source=ftchinese&quality=lowest");
	}
	.credits {
			background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcache3.asset-cache.net%2Fgc%2F459454582-supporters-of-independent-taipei-mayoral-gettyimages.jpg%3Fv%3D1%26c%3DIWSAsset%26k%3D2%26d%3DGkZZ8bf5zL1ZiijUmxa7QYF46f%252b95Oac1tgMI3UQnvtA0Tm6ajQpHREWZYHWie9l?source=ftchinese&quality=lowest");
		}
}