.section-1 
	.tiny-scrollmation {
		background-image: url("../images/xu6118472taichi_practitioners-lr_db21cbl.jpg");
	}

.section-2 
	.section-cover {
		background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fi.ftimg.net%2Fpicture%2F8%2F000057838_piclink.jpg?source=test&quality=high");
	}

.section-3 
	.section-cover {
		background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fi.ftimg.net%2Fpicture%2F6%2F000057836_piclink.jpg?source=test&quality=high");}


.story-footer {
	background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcache4.asset-cache.net%2Fgc%2F504318068-supporters-cheers-duirng-a-rally-on-january-gettyimages.jpg%3Fv%3D1%26c%3DIWSAsset%26k%3D2%26d%3DX7WJLa88Cweo9HktRLaNXnKXtW10%252bR5QYfa%252bB7k5cf3J4VJzOwbx%252f2MbrNklVq52?source=ftchinese&quality=highest");
}
.credits {
		background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcache3.asset-cache.net%2Fgc%2F459454582-supporters-of-independent-taipei-mayoral-gettyimages.jpg%3Fv%3D1%26c%3DIWSAsset%26k%3D2%26d%3DGkZZ8bf5zL1ZiijUmxa7QYF46f%252b95Oac1tgMI3UQnvtA0Tm6ajQpHREWZYHWie9l?source=ftchinese&quality=highest");
	}