.section-1 
	.tiny-scrollmation {
		background-image: url("../images/xu6118472taichi_practitioners-lr_db21cbl.jpg");
	}

.section-2 
	.section-cover {
		background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcache3.asset-cache.net%2Fgc%2F459454582-supporters-of-independent-taipei-mayoral-gettyimages.jpg%3Fv%3D1%26c%3DIWSAsset%26k%3D2%26d%3DGkZZ8bf5zL1ZiijUmxa7QYF46f%252b95Oac1tgMI3UQnvtA0Tm6ajQpHREWZYHWie9l?source=ftchinese&quality=highest");
	}

.section-3 
	.section-cover {
		background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcache3.asset-cache.net%2Fgc%2F459454582-supporters-of-independent-taipei-mayoral-gettyimages.jpg%3Fv%3D1%26c%3DIWSAsset%26k%3D2%26d%3DGkZZ8bf5zL1ZiijUmxa7QYF46f%252b95Oac1tgMI3UQnvtA0Tm6ajQpHREWZYHWie9l?source=ftchinese&quality=highest");}


.story-footer {
	background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fi.ftimg.net%2Fpicture%2F4%2F000057804_piclink.jpg?source=ftchinese&quality=high");
}
.credits {
		background-image: url("https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcache3.asset-cache.net%2Fgc%2F459454582-supporters-of-independent-taipei-mayoral-gettyimages.jpg%3Fv%3D1%26c%3DIWSAsset%26k%3D2%26d%3DGkZZ8bf5zL1ZiijUmxa7QYF46f%252b95Oac1tgMI3UQnvtA0Tm6ajQpHREWZYHWie9l?source=ftchinese&quality=highest");
	}